head {
  text-align: center;
}
a {
  color: black;
}
body {
  text-align: center;
}
.child {
  display: inline-block;
  vertical-align: middle;
}

table,
th,
td,
tr {
  border: 1px solid black;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
}
